.kontejner
{
    display:flex;
    flex-direction:column;
    background-color: beige;
    border: 1px solid black;
    flex: 1 1 200px;
}

.meniKontejner
{

    background-color: gray;
    border: 1px solid black;
}

.naslov
{
    display:flex;
    flex-direction:column;
    align-items:center;

}

.ostalo
{
    display:flex;
    flex-direction: row;
}

.naslovLabela
{
    font-size: large;
    align-self: center;
}

.podaciKontejner
{ 
    border: 1px solid black;
}

.pomocniKontejneri
{
    display:flex;
    flex-direction: row;
    align-items: flex-end;
}

.labelePodataka
{
    align-self: flex-start;
}

.lista
{
    align-self: center;
}

.dugmad
{
    display: flex;
    align-items: center;
    
}

.unosKontejner
{
    border: 1px solid black;
}