.kontejner
{
    display:flex;
    flex-direction:column;
    background-color: beige;
    border: 1px solid black;
    flex: 1 1 200px;
}

.meniKontejner
{

    background-color: gray;
    border: 1px solid black;
}

.naslov
{
    display:flex;
    flex-direction:column;
    align-items:center;
    align-self: center;

}

.ostalo
{
    display:flex;
    flex-direction: row;
}

.naslovLabela
{
    font-size: large;
    align-self: center;
}

.podaciKontejner
{ 
    border: 1px solid black;
}

.pomocniKontejneri
{
    display:flex;
    flex-direction: row;
    align-items: flex-end;
}

.labelePodataka
{
    align-self: flex-start;
}

.lista
{
    align-self: center;
}

.dugmad
{
    display: flex;
    align-items: center;
    
}

.unosKontejner
{
    border: 1px solid black;
}

.prikazKontejner
{
    display:flex;
    flex-direction: column-reverse;
    border: 1px solid black;
}

.spratKontejner
{
    display: flex;
    flex-direction: column;
}

.sprat
{
    display: flex;
    flex-direction: row;
}

.izdataSoba
{
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 200px;
    background-color: forestgreen;
    align-items: center;
    text-align: center;
    border: 1px solid black;
}

.praznaSoba
{
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 200px;
    background-color: red;
    align-items:center;
    text-align: center;
    border: 1px solid black;
}